{
	# Опционально: email для ACME
	email you@example.com
	# auto_https on
}

# Замените admin.example.com на ваш домен
admin.example.com {
	encode gzip
	route /admin* {
		reverse_proxy admin-module:8000
	}
	# Документация OpenAPI
	route /admin/docs* {
		reverse_proxy admin-module:8000
	}
	route /admin/redoc* {
		reverse_proxy admin-module:8000
	}
	route /admin/openapi.json {
		reverse_proxy admin-module:8000
	}

	# Общий reverse proxy на всё приложение (если нужно)
	@all {
		path *
	}
	reverse_proxy @all admin-module:8000

	# Статус
	respond /health 200
}
